

body{
    background-color: whitesmoke;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.container{
    width: 200px;
    height: 200px;
    border: 1px solid firebrick;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;



}

.two{
    box-sizing: border-box;


}