*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    width:1360px;
}

body>section{
    padding:3% 10%;
}

/* Gloable style */

.bcg{
    background-color: #5956f7;
}


.first-page{

    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./Photos/mainBackground.png");
    /* background-image: url("./Photos/mainBackground.png"); */
    background-size: cover;
    background-position: center;
    /* filter: contrast(140%); */
    color: white;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr{
    margin-top: 25px;
}

nav>img{
    height:40px;
}
 nav>div{
    display: flex;
    justify-content: space-between;
    gap:70px;

}
main{
    height: 600px;
}

main>h1{
    font-size: 4rem;
    margin-top: 180px;
}

main>p{
    margin-top: 30px;
}

main>button{
    border: none;
    width: 150px;
    height: 50px;
    border-radius: 25px;
    color: white;
    margin-top: 25px;
}


.logo-section{
    position: relative;
    padding:0 12%;

}
.logo-section>div{
    /* display: flex;
    height: 150px;
    width: 83%;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: white;
    padding:0 50px;
    border-radius: 25px; */
    /* top:810px; */
    /* margin: 0 5%; */

    /* border: 1px solid red; */
    height: 150px;
    width: 83%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    padding:0 50px;
    position: absolute;
    left:70px;
    top:-75px;




}

.logo-section>div>img{
    width: 120px;
}

.gallery-section, .features-section, .last-section{
    background-color:#d8dadb  ;
    
}

.gallery-section>h1{
    text-align: center;
    margin-top: 100px;
    font-size: 3rem;
}

.gallery-section>div{
    display: flex;
    gap:25px;
    width: 100%;
    height: 350px;
    /* border: 1px solid royalblue; */
    position: relative;
    margin-bottom: 180px;

}

.gallery-section>div>div{
    /* border: 1px dotted royalblue; */
    width: 32%;
    border-radius: 25px;
    position: relative;
    /* height:; */

}

.price-card{
    height: 100px;
    width: 280px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    left:30px;
    bottom:-50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.price{
color: #3d3af5;
}

.detail-btn{
    border: none;
    height: 40px;
    width: 100px;
    color: white;
    border-radius: 20px;
}


    

.card-1{
    background-image: url("./Photos/cardImage1.png");
    background-size: cover;
    background-position: center;
    

}
.card-2{
    background-image: url("./Photos/cardImage2.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top:40px;

}
.card-3{
    background-image: url("./Photos/cardImage3.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top:80px;
}
.card-4{
    background-image: url("./Photos/cardImage4.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top:80px;
    

}
.card-5{
    background-image: url("./Photos/cardImage5.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top:40px;

}
.card-6{
    background-image: url("./Photos/cardImage6.png");
    background-size: cover;
    background-position: center;
    
}
.card-7{
    background-image: url("./Photos/cardImage7.png");
    background-size: cover;
    background-position: center;
    

}
.card-8{
    background-image: url("./Photos/cardImage8.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top:40px;

}
.card-9{
    background-image: url("./Photos/cardImage9.png");
    background-size: cover;
    background-position: center;
    position: relative;
    top:80px;
}



/* #F6F8FA */

.features-section>div{
    width: 100%;
    height:600px;
    /* border: 1px solid royalblue; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:100px;
    /* place-items: center; */
    align-items: center;

}

.feature-explain>h1{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.feature-explain>p{
    font-size: 0.8rem;
    margin-bottom: 2rem;
}

.feature-explain>button{
    border: none;
    width: 150px;
    height:40px;
    color:white;
    border-radius: 20px;
}

.features-1{
    position: relative;
    /* border: 1px solid rgb(225, 65, 65); */
    /* width: 80%;
    height: 80%; */
    margin-top: 100px;

}

.features-1>img:first-child{
    /* background-image: url("./Photos/featuresImage1.png");
    background-size: cover;
    background-position: center; */
    position: absolute;
    bottom:-250px;
    left:-150px;  

}

.features-1>img:last-child{
    position: absolute;
    width:520px;
    height: 500px;
    border-radius: 25px;
    bottom: -120px;
    left:-25px;
}


.features-2{
    position: relative;
    

}
.features-2>img:first-child{
    position: absolute;
    top:-150px;
    left:-80px;



}

.features-2>img:last-child{
    position: absolute;
    width:520px;
    height: 500px;
    border-radius: 25px;
    left: -20px;
    bottom:-300px;
}

.last-section{
    padding-top: 200px;
    /* position: relative; */
}

.last-section>div{
    width: 100%;
    height: 500px;
    border-radius: 50px;
    color: white;
    
   text-align: center;
}

.last-section>div>h1{
    font-size: 3.5rem;
    padding-top: 50px;
}

.last-section>div>p{
    font-size: 1rem;
    padding-top: 50px;
    color: #d8dadb;
    margin-bottom: 2rem;
}

.subscribe-form{
    position: relative;
    display: flex;
    place-content: center;
}

.subscribe-form>input{
    background-color: #5654D1;
    border:none;
    width:450px;
    height: 40px;
    border-radius: 20px;
}

.subscribe-form>input::placeholder{
    color: white;
    padding-left:50px;
}

.subscribe-form>img{
    position: absolute;
    left:240px;
    top:8px;
}

.subscribe-form>button{
    margin-left:50px;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    color: #3d3af5;
}


footer{
    display: grid;

    margin-top: 100px;
    margin-bottom: 100px;
    padding:0% 5%;
    grid-template-columns: 3fr repeat(3,1fr);
}

footer>div:nth-child(1n+2)>h4{
    font-size: 1rem;
    margin-bottom: 20px;
    
}

footer>div:nth-child(1n+2)>p{
    margin-bottom: 20px;
}

footer>div:first-child>img{
    margin-bottom: 25px;
}

footer>div:first-child>div>img{
    margin-right: 25px;
}

footer>div:first-child>p{
    margin-top: 25px;
}







