*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* color: white; */
}

/* colors  1. #F4694C */


body>section{
  padding: 3% 10%;
}


.first-section{
    /* padding: 2% 10%; */

    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-size: cover;
    background-position: center;color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 25px;
   margin-right: 250px;
}

.nav-button>button{
    height: 40px;
    width: 90px;
    background-color: inherit;
    border: none;
}
.nav-button>button:last-child{

    background-color: #F4694C;
    color: white;
}

.first-section>div{
    display: grid;
    justify-items: start;
    
    
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 70% 30%;
    margin-top: 25px;
    height: 90vh;
}


.cell-1>div:first-child{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: 120px;

}

.cell-1>div:last-child>p{
    font-size: 0.9rem;
    color: #817879;   
    

}

.cell-3>button{
    width: 150px;
    height: 50px;
    margin-right: 25px;
}

.cell-3>button:first-child{
    background-color: #F4694C;
    color: white;
}

.cell-3>button:last-child{
    border-color: white;
    background-color: inherit;
    color: white;

    
}

.cell-2{
    place-self: center;
    position: relative;
    left:50px;
    top:80px;
}

.cell-4{
    position: relative;
    font-size: 1.5rem;
    place-self: center;
    left:100px;

}

.cell-4>img:first-child{
  position: absolute; 
  left:-50px; 
  top:20px;
}

.cell-4>img:last-child{
    position: absolute; 
    top:90px;
    right:-100px;
    width:50px;
    
}


  /* card-section */

.card-heading{
    text-align: center;
    color: black;
    font-size: 2.5rem;
    margin: 50px 0;
    font-weight: 500;
}

  

  .cards-4>div{
     height:250px;
    width: 25%;
    position: relative;
    
    
  }

  .cards-4{
    display: flex;
    gap:25px;
  }

  .cards-4>div:first-child{
    background-image: url("./Assets/Photos/image\ 2.png");
    background-position: center;
    background-size: cover;
  }

  .cards-4>div:nth-child(2){
    background-image: url("./Assets/Photos/image\ 4.png");
    background-position: center;
    background-size: cover;
  }

  .cards-4>div:nth-child(3){
    background-image: url("./Assets/Photos/image\ 3.png");
    background-position: center;
    background-size: cover;
  }
  .cards-4>div:last-child{
    background-image: url("./Assets/Photos/Rectangle\ 56.png");
    background-position: center;
    background-size: cover;
  }

  .blur-bcg{
    height: 80px;
    color: white;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
  }

  .card-name{
    font-size: 0.9rem;
  }

  .btn-card{
    background-color: #F4694C;
    border: none;
    color: white;
    height: 30px;
    width: 100px;
    font-size: 0.8rem;
  }

  .actions{
    font-size: 12px;
    color: #ccc4c4;
  }


.card-explain{
  display: grid;
  grid-template-columns: repeat(2,50%);
  /* place-items: center; */
  gap:50px;
}
.card-explain>div{
  width: 90%;
    height:400px;

}

.card-explain>div:first-child{
  background-image: url("./Assets/Photos/Rectangle\ 57.png");
  background-position: center;
  background-size: cover;
}

.card-discription>div{
  margin-bottom: 25px;
}

.card-discription>div:first-child>p{
font-size: 2.5rem;
font-weight: 500;
}

.card-discription>div:nth-child(2){
  font-size: 0.8rem;
  line-height: 25px;
  color: #7e7c7d;
}

.card-discription>div:last-child>button{
  height: 50px;
  width: 150px;
  margin-right: 25px;
  margin-top: 25px;
}


.btn{
  border: none;
}
.btn-color{
  background-color: #F4694C;
}
.btn-right-side{
  color:#F4694C;
  border: 1px solid #F4694C;
  background-color: white;
}


/* recommendation section */


.rec-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.rec-heading>div>h3{
  font-size: 2rem;
 
}

.rec-two-arrow{
  display: flex;
  gap: 15px;
}

.rec-two-arrow>div{
  height: 50px;
  width: 50px;
  display: flex;
  place-content: center;
  
}

.rec-two-arrow>div>img{
  width: 30px;
}

.rec-two-arrow>div{
  height: 50px;
  width: 50px;
}

.rec-two-arrow>div:first-child{
  background-color:#FDE1DB ;
}



.rec-4-games{
  display: grid;
  grid-template-columns: repeat(2,48%);
  gap:60px;
}

.rec-4-games>div{
  display: grid;
  grid-template-columns: repeat(2,50%);
  gap:10px;

  /* border: 1px dotted firebrick; */

}


.left-img-box{
  width: 250px;
  height: 300px;

}

.c-1>div:first-child{
  background-image: url("./Assets/Photos/Rectangle\ 75.png");
    background-position: center;
    background-size: cover;

}
.c-2>div:first-child{
  background-image: url("./Assets/Photos/Rectangle\ 76.png");
    background-position: center;
    background-size: cover;

}
.c-3>div:first-child{
  background-image: url("./Assets/Photos/Rectangle\ 77.png");
    background-position: center;
    background-size: cover;

}
.c-4>div:first-child{
  background-image: url("./Assets/Photos/Rectangle\ 78.png");
    background-position: center;
    background-size: cover;

}

.c-1>div:last-child,
.c-2>div:last-child,
.c-3>div:last-child,
.c-4>div:last-child{
  /* padding:10px; */
  place-self: center;
}
.c-1>div:last-child>h3,
.c-2>div:last-child>h3,
.c-3>div:last-child>h3,
.c-4>div:last-child>h3{
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.c-1>div:last-child>p,
.c-2>div:last-child>p,
.c-3>div:last-child>p,
.c-4>div:last-child>p{
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #F4694C;

}

.c-1>div:last-child>div,
.c-2>div:last-child>div,
.c-3>div:last-child>div,
.c-4>div:last-child>div{
  font-size: 0.8rem;
  line-height: 25px;
  margin-bottom: 25px;

}

.c-1>div:last-child>button,
.c-2>div:last-child>button,
.c-3>div:last-child>button,
.c-4>div:last-child>button{
  border:none;
  height: 45px;
  width: 130px;
  color: white;
}



.most-played-section{
  background-color: black;
  color: white;
  
}

.most-played-section>h1{
  
  text-align: center;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.most-played-section>div{
  position: relative;
}

.img-1{
  width: 350px;
  height: 400px;
  margin-bottom: 250px;
  
}

.most-played-section>div>p{
 position: absolute;
 left:400px;
 top:60px;
}

.img-2{
  
  position: absolute;
  top:170px;
  left:330px;
  width: 880px;

  
}

.img-3{
  height: 400px;
  width: 300px;
  position: absolute;
  top:210px;
  left:400px;




}

.img-4{
  position: absolute;
  top:400px;
  right:80px;

  height: 200px;
  width: 250px;

}

.gamer{
  position: relative;
  text-align: center;
}

.gamer>img{
  /* background-image: url("./Assets/Photos/Rectangle\ 606.png");
    background-position: center;
    background-size: cover; */
    opacity: 0.3; 
    margin-top:50px;

    width: 100%;
    height:80vh;

}

.gamer>div{
  position: absolute;
  top:200px;
  width: 100%;
  
  z-index: 2;
}

.gamer>div>h1{
  font-size: 2rem;
  margin-bottom: 25px;
}

.gamer>div>p{
  font-size: 0.8rem;
  color: #ccc4c4;
  margin-bottom: 50px;
}

.gamer>div>button{
  width: 100px;
  height:50px;
  border: none;
  color: white;
}

footer{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap:40px;
  margin-top: 80px;
}

footer>div:first-child>p{
  font-size: 0.8rem;
  color: #ccc4c4;
  margin-top: 10px;
}
footer>div:first-child>img{
  height: 40px;
}

footer>div:first-child>div{
  margin-top: 25px;
}

footer>div:first-child>div>img{
  margin-right: 15px;
}

footer>div>h4{
  font-weight: 400;
  margin-bottom: 30px;
}

footer>div>p{
  font-size: 0.8rem;
  color: #ccc4c4;
  margin-bottom: 20px;

}



  
  


