*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* color: white; */
}

/* colors  1. #F4694C */


body>section{
  padding: 3% 10%;
}


.first-section{
    /* padding: 2% 10%; */

    background-image: url("./Assets/Photos/futuristic-bg.png");
    background-size: cover;
    background-position: center;color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 25px;
   margin-right: 250px;
}

.nav-button>button{
    height: 40px;
    width: 90px;
    background-color: inherit;
    border: none;
}
.nav-button>button:last-child{

    background-color: #F4694C;
}

.first-section>div{
    display: grid;
    justify-items: start;
    
    
    grid-template-columns: repeat(2,50%);
    grid-template-rows: 70% 30%;
    margin-top: 25px;
    height: 90vh;
}


.cell-1>div:first-child{
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-top: 120px;

}

.cell-1>div:last-child>p{
    font-size: 0.9rem;
    color: #817879;   
    

}

.cell-3>button{
    width: 150px;
    height: 50px;
    margin-right: 25px;
}

.cell-3>button:first-child{
    background-color: #F4694C;
}

.cell-3>button:last-child{
    border-color: white;
    background-color: inherit;
    color: white;

    
}

.cell-2{
    place-self: center;
    position: relative;
    left:50px;
    top:80px;
}

.cell-4{
    position: relative;
    font-size: 1.5rem;
    place-self: center;
    left:100px;

}

.cell-4>img:first-child{
  position: absolute; 
  left:-50px; 
  top:20px;
}

.cell-4>img:last-child{
    position: absolute; 
    top:90px;
    right:-100px;
    width:50px;
    
}


  /* card-section */

.card-heading{
    text-align: center;
    color: black;
    font-size: 2.5rem;
    margin: 50px 0;
    font-weight: 500;
}

  

  .cards-4>div{
     height:250px;
    width: 25%;
    position: relative;
    
    
  }

  .cards-4{
    display: flex;
    gap:25px;
  }

  .cards-4>div:first-child{
    background-image: url("./Assets/Photos/image\ 2.png");
    background-position: center;
    background-size: cover;
  }

  .cards-4>div:nth-child(2){
    background-image: url("./Assets/Photos/image\ 4.png");
    background-position: center;
    background-size: cover;
  }

  .cards-4>div:nth-child(3){
    background-image: url("./Assets/Photos/image\ 3.png");
    background-position: center;
    background-size: cover;
  }
  .cards-4>div:last-child{
    background-image: url("./Assets/Photos/Rectangle\ 56.png");
    background-position: center;
    background-size: cover;
  }

  .blur-bcg{
    height: 80px;
    color: white;
    backdrop-filter: blur(20px);
    position: absolute;
    bottom: 0;
    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;
   
    
  }

  .card-name{
    font-size: 0.9rem;
  }

  .actions{
    font-size: 12px;
    color: #ccc4c4;
  }


.card-explain{
  display: grid;
  grid-template-columns: repeat(2,50%);
  /* place-items: center; */
  gap:50px;
}
.card-explain>div{
  width: 90%;
    height:400px;

}

.card-explain>div:first-child{
  background-image: url("./Assets/Photos/Rectangle\ 57.png");
  background-position: center;
  background-size: cover;
}

.card-discription>div{
  margin-bottom: 25px;
}

.card-discription>div:first-child>p{
font-size: 2.5rem;
font-weight: 500;
}

.card-discription>div:nth-child(2){
  font-size: 0.8rem;
  line-height: 25px;
  color: #7e7c7d;
}

.card-discription>div:last-child>button{
  height: 50px;
  width: 150px;
  margin-right: 25px;
  margin-top: 25px;
}


.btn{
  border: none;
}
.btn-color{
  background-color: #F4694C;
}
.btn-right-side{
  color:#F4694C;
  border: 1px solid #F4694C;
  background-color: white;
}


/* recommendation section */


.rec-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.rec-heading>div>h3{
  font-size: 2rem;
 
}

.rec-two-arrow{
  display: flex;
  gap: 15px;
}

.rec-two-arrow>div{
  height: 50px;
  width: 50px;
  display: flex;
  place-content: center;
  
}

.rec-two-arrow>div>img{
  width: 30px;
}

.rec-two-arrow>div{
  height: 50px;
  width: 50px;
}

.rec-two-arrow>div:first-child{
  background-color:#FDE1DB ;
}



.rec-4-games, .rec-4-games>div{
  display: grid;
  grid-template-columns: repeat(2,50%);
  gap:25px;
}


.left-img-box{
  width: 100%;
  height: 300px;

}

.c-1>div:first-child{
  background-image: url("./Assets/Photos/Rectangle\ 75.png");
    background-position: center;
    background-size: cover;

}




  
  


